body {
  font-family: "Noto Serif KR", sans-serif;
  background-color: rgb(221, 210, 226);
}

h1 {
  font-size: 50px;
  color: rgb(65, 43, 85);
}

header {
  text-align: center;
  padding: 30px;
}

header img {
  width: 300px;
}
